<h1>This is the login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" id="">
    <input type="password" name="password" placeholder="password" id="">
    <button>Submit</button>
</form>
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">log out</a></li>